.detail-container p {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: left;
}

.react-monaco-editor-container {
	min-height: 300px;
	text-align: left;
	margin: auto;
	border: 2px solid #000000;
}